<template>
    <section :class="bg">
        <div class="container">
            <div class="flex flex-wrap justify-between" :class="reverse">
                <div class="w-full md:w-1/2 py-20 my-auto" :class="blockModifier">
                    <i
                        aria-hidden="true"
                        class="notranslate material-icons text-astecha-secondary"
                    >{{ icon }}</i>
                    <h3 class="text-h3 md:text-h2 font-bold text-copy-primary mt-4">{{ heading }}</h3>
                    <p class="text-base text-copy-primary mt-12">{{ body }}</p>
                    <ul
                        class="mt-16 list-disc list-inside grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-12"
                    >
                        <li class="text-base text-copy-primary" v-for="item in list">{{ item }}</li>
                    </ul>
                </div>
                <div class="w-full md:w-1/2">
                    <g-image
                        :alt="heading"
                        :src="require(`!!assets-loader!@images/${image}`)"
                        class="h-300 md:h-full w-full object-cover pb-12 md:pb-0"
                    />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
	props: {
		icon: String,
		heading: String,
		body: String,
		reverse: {
			type: String,
			default: 'flex-row'
		},
		blockModifier: {
			type: String,
			default: 'md:pl-12'
		},
		image: String,
		bg: String,
		list: Array
	}
}
</script>
