<template>
    <section class="bg-theme-secondary py-24 hidden lg:block">
        <div class="container">
            <ul class="flex justify-between">
                <li v-for="company in companies" :key="company.logo" class="list-none">
                    <g-image
                        :src="require(`!!assets-loader!@images/homepage/companies-that-trust/${company.logo}.svg`)"
                        :alt="company.alt"
                        class="w-full"
                    />
                </li>
            </ul>
            <slot></slot>
        </div>
    </section>
</template>

<script>
export default {
	data() {
		return {
			companies: [
				{
					logo: 'bbc-grey',
					alt: 'BBC company'
				},
				{
					logo: 'buzzfeed-grey',
					alt: 'Buzzfeed company'
				},
				{
					logo: 'forbes-grey',
					alt: 'Forbes company'
				},
				{
					logo: 'huffington-post-grey',
					alt: 'Huffington Post company'
				},
				{
					logo: 'the-guardian-grey',
					alt: 'The Guardian company'
				},
				{
					logo: 'wired-grey',
					alt: 'Wired company'
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
</style>
