<template>
    <section class="bg-theme-primary py-40">
        <div class="container">
            <div class="flex flex-wrap justify-between">
                <Paragraph class="w-full md:w-5/12">
                    <template #preheading>Contact</template>
                    <template #horizontal-line>
                        <hr class="border-astecha-secondary inline-block align-middle w-32 ml-6" />
                    </template>
                    <template #heading>
                        We empower your success
                        <br />Ready to talk?
                    </template>
                    <template
                        #body
                    >The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz.</template>
                    <template #button>
                        <g-link
                            to="/contact"
                            class="underline hover:no-underline font-bold text-copy-secondary"
                        >Contact us</g-link>
                    </template>
                </Paragraph>
                <Form class="mt-16 md:mt-0 w-full md:w-6/12" />
            </div>
        </div>
    </section>
</template>

<script>
import Paragraph from '~/components/generic/Paragraph.vue'
import Form from '~/components/generic/Form.vue'

export default {
	components: { Paragraph, Form }
}
</script>
