<template>
    <section class="py-40 bg-theme-secondary">
        <div class="container">
            <Paragraph>
                <template #preheading>News</template>
                <template #horizontal-line>
                    <hr class="border-astecha-secondary inline-block align-middle w-32 ml-6" />
                </template>
                <template #heading>
                    Staying ahead of competition
                    <br />Latest from Astecha.
                </template>
            </Paragraph>
            <Articles />
        </div>
    </section>
</template>

<script>
import Paragraph from '~/components/generic/Paragraph.vue'
import Articles from '~/components/generic/Articles.vue'

export default {
	components: { Paragraph, Articles }
}
</script>
