<template>
    <section id="our-work" class="bg-theme-primary py-24 lg:py-40">
        <div class="container">
            <div class="flex flex-wrap md:justify-between">
                <div class="relative w-full md:w-5/12 order-2 md:order-1 mt-5 md:mt-0">
                    <g-image
                        alt="Automation Solutions The right way."
                        src="~/assets/images/homepage/our-work-section/homepage_ourwork-big.jpg"
                        class="hidden md:block md:mt-24 lg:mt-0 lg:absolute lg:top-0 lg:left-0 h-350 w-auto"
                    />
                    <g-image
                        alt="Automation Solutions The right way."
                        src="~/assets/images/homepage/our-work-section/homepage_ourwork-small.jpg"
                        class="hidden lg:block lg:absolute lg:bottom-0 lg:right-0 h-250 w-auto"
                    />
                </div>
                <Paragraph class="md:w-6/12 order-1 md:order-2 md:my-auto">
                    <template #preheading>Our work</template>
                    <template #horizontal-line>
                        <hr class="border-astecha-secondary inline-block align-middle w-32 ml-6" />
                    </template>
                    <template #heading>We create smart technology with the right tools.</template>
                    <template #body>
                        The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz
                        prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs.
                        Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick
                        quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting
                        zephyrs vex bold Jim.
                    </template>
                    <template #button>
                        <g-link to="/our-work" class="btn btn-red shadow">Read more</g-link>
                    </template>
                </Paragraph>
            </div>
            <div
                class="grid grid-cols-2 gap-6 md:grid-cols-4 text-copy-primary text-center rounded shadow-md border border-border-color-secondary p-12 mt-20 md:mt-40"
            >
                <div v-for="statistic in statistics">
                    <p class="text-xl md:text-h2 font-bold">{{ statistic.number }}</p>
                    <p class="text-tiny md:text-base mt-3 md:mt-6 leading-8">{{ statistic.what }}</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Paragraph from '~/components/generic/Paragraph.vue'

export default {
	components: { Paragraph },
	data() {
		return {
			statistics: [
				{
					number: 18,
					what: 'Years in the Business'
				},
				{
					number: 541,
					what: 'Successful launches'
				},
				{
					number: '231+',
					what: 'Happy Clients'
				},
				{
					number: 1432,
					what: 'Active cabines'
				}
			]
		}
	}
}
</script>
