<template>
    <section class="bg-theme-secondary py-24 lg:py-40">
        <div class="container">
            <div class="flex flex-wrap justify-between">
                <Paragraph class="w-full lg:w-3/12">
                    <template #preheading>Services</template>
                    <template #horizontal-line>
                        <hr class="border-astecha-secondary inline-block align-middle w-32 ml-6" />
                    </template>
                    <template #heading>At Astecha we always walk an extra mile.</template>
                    <template #body>
                        The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.
                        Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs.
                        Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz.
                    </template>
                    <template #button>
                        <g-link to="/services" class="btn btn-red shadow">Read more</g-link>
                    </template>
                </Paragraph>

                <div class="w-full lg:w-8/12">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-12 mt-32 lg:mt-0">
                        <div
                            v-for="service in services"
                            class="border border-astecha-dedede rounded shadow-md p-12 bg-theme-form"
                        >
                            <i
                                class="notranslate material-icons text-astecha-secondary"
                                aria-hidden="true"
                            >{{ service.icon }}</i>
                            <h3
                                class="text-xl font-bold text-copy-primary mt-4"
                            >{{ service.heading }}</h3>
                            <p class="text-base text-copy-primary mt-4">{{ service.body }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Paragraph from '~/components/generic/Paragraph.vue'

export default {
	components: { Paragraph },
	data() {
		return {
			services: [
				{
					icon: 'dns',
					heading: 'Automation cabinet production',
					body:
						'The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs.'
				},
				{
					icon: 'waves',
					heading: 'Industrial water plant launching',
					body:
						'The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs.'
				},
				{
					icon: 'tune',
					heading: 'Automation tuning & correction',
					body:
						'The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs.'
				},
				{
					icon: 'widgets',
					heading: 'Widget programming',
					body:
						'The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs.'
				}
			]
		}
	}
}
</script>
