<template>
    <Layout>
        <div class="min-h-screen bg-theme-primary overflow-hidden shadow-lg py-20 md:pb-40">
            <div class="container">
                <div>
                    <g-link class="text-copy-secondary text-base hover:opacity-50" to="/">
                        <i
                            aria-hidden="true"
                            class="notranslate material-icons align-bottom"
                        >navigate_before</i>
                        Back
                    </g-link>
                </div>
                <h1
                    class="font-bold text-h2 md:text-h1 text-copy-primary mt-20"
                >{{$page.article.title}}</h1>
                <p class="text-copy-primary text-base italic">{{$page.article.date}}</p>
                <g-image
                    class="mt-20 w-full md:w-2/3"
                    :src="$page.article.image"
                    :alt="$page.article.title"
                />
                <p class="text-copy-primary mt-12 italic font-bold">@{{$page.article.author}}</p>
                <p
                    class="text-copy-secondary mt-2 border-l-4 border-border-color-secondary px-6 py-2 inline-block bg-theme-secondary italic"
                >{{$page.article.abstract}}</p>
                <div class="text-copy-primary text-base mt-20" v-html="$page.article.content"></div>
            </div>
        </div>
    </Layout>
</template>

<page-query>
query ($path: String!) {
  article: news (path: $path) {
    title
    content
	abstract
    author
    image
	date
  }
}
</page-query>

<script>
export default {
	metaInfo() {
		return {
			title: this.$page.article.title
		}
	}
}
</script>
