@tailwind base;
@tailwind components;

.btn {
    @apply inline-block font-bold text-base px-20 py-4 border border-astecha-secondary rounded-md;
}
.btn:focus {
    @apply outline-none shadow-outline;
}

.btn-red {
    @apply bg-astecha-secondary text-white;
}
.btn-red:hover {
    @apply bg-astecha-secondary-hover;
}
.btn-red:active {
    @apply bg-astecha-secondary-active;
}

@tailwind utilities;

.theme-light {
    --bg-theme-primary: white;
    --bg-theme-secondary: #f5f5f7;

    --bg-theme-form: white;

    --text-copy-primary: #10293b;
    --text-copy-secondary: #302c50;

    --border-border-color-primary: #dedede;
    --border-border-color-secondary: #1a202c;
    --border-border-color-ternary: #dedede;
}

.theme-dark {
    --bg-theme-primary: #0d2438;
    --bg-theme-secondary: #102c44;

    --bg-theme-form: #1a202c;

    --text-copy-primary: #cbd5e0;
    --text-copy-secondary: #e2e8f0;

    --border-border-color-primary: #1a202c;
    --border-border-color-secondary: #dedede;
    --border-border-color-ternary: #302c50;
}
