<template>
    <Layout>
        <div class="min-h-screen">
            <section class="theme-wrapper bg-theme-primary py-24 md:py-40">
                <div class="container">
                    <div class="flex flex-wrap justify-between">
                        <Paragraph class="w-full md:w-5/12 -mt-16">
                            <template #heading>
                                Let’s create automation.
                                <br />Together.
                            </template>
                            <template
                                #body
                            >The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz.</template>
                            <template #button>
                                <ul>
                                    <li class="text-copy-primary hover:text-gray-400 mt-6">
                                        <i
                                            aria-hidden="true"
                                            class="material-icons notranslate mr-4 text-lg align-middle"
                                        >phone</i>
                                        <a href="tel:+37067620216">+370 67620216</a>
                                    </li>
                                    <li class="text-copy-primary hover:text-gray-400 mt-6">
                                        <i
                                            aria-hidden="true"
                                            class="material-icons notranslate mr-4 text-lg align-middle"
                                        >email</i>
                                        <a href="mailto:info@astecha.lt">info@astecha.lt</a>
                                    </li>
                                </ul>
                            </template>
                        </Paragraph>
                        <Form class="mt-16 md:mt-0 w-full md:w-6/12" />
                    </div>
                    <PeopleCards class="theme-wrapper mt-24 md:mt-40" />
                </div>
            </section>
            <Location class="theme-wrapper" />
        </div>
    </Layout>
</template>

<script>
import Paragraph from '~/components/generic/Paragraph.vue'
import Form from '~/components/generic/Form.vue'
import Location from '~/components/contact/Location.vue'
import PeopleCards from '~/components/contact/PeopleCards.vue'

export default {
	components: {
		Paragraph,
		Form,
		Location,
		PeopleCards
	}
}
</script>
