<template>
    <Layout>
        <Header class="theme-wrapper" v-bind="header">
            <template>
                <h1 class="text-h2 md:text-h1 font-bold text-copy-secondary">
                    Automation Solutions
                    <br />The right way.
                </h1>
                <p class="text-base mt-6 lg:mt-12 text-copy-primary">
                    The quick, brown fox jumps over a lazy dog. DJs flock by when
                    MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds
                    jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex.
                </p>
                <div class="mt-12 lg:mt-24">
                    <smooth-scroll class="btn btn-red" href="#our-work">Read more</smooth-scroll>
                </div>
            </template>
            <template #media>
                <g-image
                    alt="Automation Solutions The right way."
                    src="~/assets/images/homepage/homepage-header.jpg"
                    class="md:ml-auto"
                />
            </template>
        </Header>
        <CompaniesThatTrust class="theme-wrapper" />
        <OurWork class="theme-wrapper" />
        <Services class="theme-wrapper" />
        <Contact class="theme-wrapper" />
        <News class="theme-wrapper" />
    </Layout>
</template>

<script>
import Header from '~/components/TheHeader.vue'
import CompaniesThatTrust from '~/components/homepage/CompaniesThatTrust.vue'
import OurWork from '~/components/homepage/OurWork.vue'
import Services from '~/components/homepage/Services.vue'
import News from '~/components/homepage/News.vue'
import Contact from '~/components/homepage/Contact.vue'

export default {
	components: {
		Header,
		CompaniesThatTrust,
		OurWork,
		Services,
		News,
		Contact
	},
	data() {
		return {
			header: {
				headerStyles: 'py-24 lg:py-0 bg-theme-secondary'
			}
		}
	},
	metaInfo: {
		title: 'Home',
		meta: [
			{
				key: 'description',
				name: 'description',
				content: 'Automation Solutions. The right way.'
			}
		]
	}
}
</script>
