<template>
    <Layout>
        <Header class="theme-wrapper" v-bind="header">
            <template>
                <h1 class="text-h2 lg:text-h1 font-bold text-copy-primary">
                    We Work for you
                    <br />Every. Single. Day.
                </h1>
                <p class="text-base mt-6 lg:mt-12 text-copy-primary">
                    The quick, brown fox jumps over a lazy dog. DJs flock by when
                    MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds
                    jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex.
                </p>
                <div class="mt-12 lg:mt-24">
                    <smooth-scroll class="btn btn-red" href="#your-success">Read more</smooth-scroll>
                </div>
            </template>
            <template #media>
                <g-image
                    alt="The easiest way to grow with our Services."
                    src="~/assets/images/our-work/our-work-header.jpg"
                    class="md:ml-auto"
                />
            </template>
        </Header>

        <section id="your-success" class="bg-theme-secondary py-24 md:pb-0 md:pt-40">
            <div class="container">
                <div class="flex flex-wrap">
                    <div class="md:flex-1 md:pr-16">
                        <div class="mb-12 md:mb-32">
                            <p
                                class="text-xl text-copy-primary font-bold inline-block"
                            >Empowering Your Success</p>
                            <hr
                                class="border-astecha-secondary hidden lg:inline-block align-middle w-32 ml-6"
                            />
                            <h2
                                class="font-bold text-h3 lg:text-h2 text-copy-primary"
                            >We are proud of our work.</h2>
                        </div>
                        <div class="mb-12 md:mb-32">
                            <g-image
                                class="w-full"
                                alt="Pieno Zvaigzdes"
                                src="~/assets/images/our-work/pieno-zvaigzdes@2x.jpg"
                            />
                            <p
                                class="text-lg lg:text-xl text-copy-secondary mt-6 md:mt-12 leading-normal"
                            >Water purification</p>
                            <h3
                                class="font-bold text-lg lg:text-xl text-copy-primary mt-2 md:mt-6"
                            >AB Pieno žvaigždės</h3>
                        </div>
                        <div class="mb-12 md:mb-32">
                            <g-image
                                class="w-full"
                                alt="Runinetas"
                                src="~/assets/images/our-work/runinetas@2x.jpg"
                            />
                            <p
                                class="text-lg lg:text-xl text-copy-secondary mt-6 md:mt-12 leading-normal"
                            >Automation Tuning</p>
                            <h3
                                class="font-bold text-lg lg:text-xl text-copy-primary mt-2 md:mt-6"
                            >UAB Runinetas</h3>
                        </div>
                    </div>

                    <div class="md:flex-1 md:pl-16">
                        <div class="mb-12 md:mb-32">
                            <g-image
                                class="w-full"
                                alt="Kalnapilis"
                                src="~/assets/images/our-work/kalnapilis@2x.jpg"
                            />
                            <p
                                class="text-lg lg:text-xl text-copy-secondary mt-6 md:mt-12 leading-normal"
                            >Automation</p>
                            <h3
                                class="font-bold text-lg lg:text-xl text-copy-primary mt-2 md:mt-6"
                            >UAB Kalnapilis</h3>
                        </div>
                        <div class="mb-12 md:mb-32">
                            <g-image
                                class="w-full"
                                alt="Vanduo ir vanduo"
                                src="~/assets/images/our-work/vanduo-vanduo@2x.jpg"
                            />
                            <p
                                class="text-lg lg:text-xl text-copy-secondary mt-6 md:mt-12 leading-normal"
                            >Widget Programming</p>
                            <h3
                                class="font-bold text-lg lg:text-xl text-copy-primary mt-2 md:mt-6"
                            >UB Vanduo ir Vanduo</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <Companies>
            <template>
                <div class="flex mt-12">
                    <g-link to="/contact" class="btn btn-red mx-auto mt-12">Let's talk</g-link>
                </div>
            </template>
        </Companies>
    </Layout>
</template>

<script>
import Header from '~/components/TheHeader.vue'
import Companies from '~/components/homepage/CompaniesThatTrust.vue'
export default {
	components: { Header, Companies },
	data() {
		return {
			header: {
				headerStyles: 'bg-theme-primary py-20 md:py-40'
			}
		}
	},
	metaInfo: {
		title: 'About us'
	}
}
</script>
