<template>
    <Layout>
        <Header class="theme-wrapper" v-bind="header">
            <template>
                <h1
                    class="text-h2 lg:text-h1 font-bold text-copy-primary"
                >The easiest way to grow with our Services.</h1>
                <p class="text-base mt-6 lg:mt-12 text-copy-primary">
                    The quick, brown fox jumps over a lazy dog. DJs flock by when
                    MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds
                    jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex.
                </p>
                <div class="mt-12 lg:mt-24">
                    <smooth-scroll href="#blocks" class="btn btn-red">Read more</smooth-scroll>
                </div>
            </template>
            <template #media>
                <g-image
                    alt="The easiest way to grow with our Services."
                    src="~/assets/images/services/services-header.jpg"
                    class="md:ml-auto"
                />
            </template>
        </Header>

        <!-- blocks -->
        <section id="blocks">
            <div v-for="(service, index) in services" :key="index">
                <MainBlock class="theme-wrapper" v-bind="service" />
            </div>
        </section>

        <!-- lets talk section -->
        <section class="bg-theme-secondary py-20 md:py-32">
            <div class="container">
                <h3
                    class="text-copy-primary font-bold text-center text-h3 md:text-h2"
                >Choose the right way to do automation.</h3>
                <div class="flex mt-12">
                    <g-link to="/contact" class="btn btn-red mx-auto">Let's talk</g-link>
                </div>
            </div>
        </section>
    </Layout>
</template>

<script>
import Header from '~/components/TheHeader.vue'
import MainBlock from '~/components/services/MainBlock.vue'

export default {
	components: { Header, MainBlock },
	data() {
		return {
			header: {
				headerStyles: 'bg-theme-primary py-20 md:py-40'
			},
			services: [
				{
					icon: 'dns',
					heading: 'Automation cabinet production',
					body:
						'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id alias quaerat velit molestiae adipisci, dolor eveniet veniam nisi enim voluptatum. The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs.',
					image: 'services/automation-cabinet.jpg',
					bg: 'bg-theme-secondary',
					blockModifier: 'md:pr-12',
					list: [
						'Lorem ipsum dolor sit.',
						'Lorem ipsum dolor sitdddasd',
						'Lorem ipsum dolor sit asdasd adw',
						'Lorem ipsum dolor'
					]
				},
				{
					icon: 'waves',
					heading: 'Industrial water plant launching',
					body:
						'The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs.',
					reverse: 'flex-row-reverse',
					image: 'services/industrial-plant.jpg',
					bg: 'bg-theme-primary',
					list: [
						'Lorem ipsum dolor sit.',
						'Lorem ipsum dolor sitdddasd',
						'Lorem ipsum dolor sit asdasd adw',
						'Lorem ipsum dolor'
					]
				},
				{
					icon: 'tune',
					heading: 'Automation tuning & correction',
					body:
						'The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs.',
					image: 'services/widget-programming.jpg',
					bg: 'bg-theme-secondary',
					blockModifier: 'md:pr-12',
					list: [
						'Lorem ipsum dolor sit.',
						'Lorem ipsum dolor sitdddasd',
						'Lorem ipsum dolor sit asdasd adw',
						'Lorem ipsum dolor'
					]
				},
				{
					icon: 'widgets',
					heading: 'Widget programming',
					body:
						'The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs.',
					reverse: 'flex-row-reverse',
					image: 'services/automation-tuning.jpg',
					bg: 'bg-theme-primary',
					list: [
						'Lorem ipsum dolor sit.',
						'Lorem ipsum dolor sitdddasd',
						'Lorem ipsum dolor sit asdasd adw',
						'Lorem ipsum dolor'
					]
				}
			]
		}
	}
}
</script>
