<template>
    <section class="md:py-40 py-24 bg-theme-secondary">
        <div class="container">
            <Paragraph>
                <template #preheading>Location</template>
                <template #horizontal-line>
                    <hr class="border-astecha-secondary inline-block align-middle w-32 ml-6" />
                </template>
                <template #heading>How to find Astecha?</template>
                <template #body>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2293.216319088247!2d23.910107916013338!3d54.91667606363102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e718b044c2ddb9%3A0x7ac29eab98c24556!2sJonavos%20g.%2C%20Kaunas!5e0!3m2!1sen!2slt!4v1586889291581!5m2!1sen!2slt"
                        width="100%"
                        height="450"
                        frameborder="0"
                        style="border:0;"
                        allowfullscreen
                        aria-hidden="false"
                        tabindex="0"
                    ></iframe>
                </template>
            </Paragraph>
        </div>
    </section>
</template>

<script>
import Paragraph from '~/components/generic/Paragraph.vue'

export default {
	components: {
		Paragraph
	}
}
</script>
