<template>
    <div>
        <h2
            class="font-bold text-h3 md:text-h2 text-copy-primary text-center"
        >Best technology is only as good as the people behind it.</h2>
        <div class="flex flex-wrap mt-12 md:mt-24">
            <div
                v-for="{ node } in $static.people.edges"
                :key="node.id"
                class="w-full sm:w-1/2 md:w-1/4 flex flex-col p-6"
            >
                <div class="bg-theme-primary overflow-hidden flex-1 flex flex-col">
                    <g-image
                        class="object-cover w-full h-64"
                        :src="require(`!!assets-loader!@images/contact/people${node.image}`)"
                        :alt="node.title"
                    />
                    <div class="mt-12 flex-1 flex flex-col text-copy-primary capitalize">
                        <h3 class="font-bold text-xl">{{ node.name }}</h3>
                        <p class="mt-2 text-xl">{{ node.title }}</p>
                        <hr
                            class="mt-6 border-border-color-secondary inline-block align-middle w-32"
                        />
                        <div class="mt-6 text-base flex-1">
                            <p>{{ node.about }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<static-query>
query People {
  people: allPeople {
    edges {
      node { 
        id
		name
        title
		about
		image
      }
    }
  }
}
</static-query>
