<template>
    <footer class="bg-astecha-primary pt-24 pb-32 text-white">
        <div class="container">
            <div class="grid md:grid-cols-2 gap-12">
                <div>
                    <h5 class="inline-block text-xl font-bold">Contacts</h5>
                    <hr class="border-white inline-block align-middle w-16 ml-6" />
                    <ul class="mt-12">
                        <li class="hover:text-gray-400 mt-6 flex">
                            <i
                                aria-hidden="true"
                                class="material-icons notranslate mr-4 text-lg align-middle"
                            >room</i>
                            <a href="https://goo.gl/maps/ZD1r6sPoVvUJFJQX7" target="blank">
                                Jonavos g. 60
                                <br />Kaunas, LT-44254
                                <br />Lithuania
                            </a>
                        </li>
                        <li class="hover:text-gray-400 mt-6">
                            <i
                                aria-hidden="true"
                                class="material-icons notranslate mr-4 text-lg align-middle"
                            >phone</i>
                            <a href="tel:+37067620216">+370 67620216</a>
                        </li>
                        <li class="hover:text-gray-400 mt-6">
                            <i
                                aria-hidden="true"
                                class="material-icons notranslate mr-4 text-lg align-middle"
                            >email</i>
                            <a href="mailto:info@astecha.lt">info@astecha.lt</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h5 class="inline-block text-xl font-bold">Navigation</h5>
                    <hr class="border-white inline-block align-middle w-16 ml-6" />
                    <ul class="mt-12">
                        <li class="hover:text-gray-400 mt-6">
                            <g-link to="/">Home</g-link>
                        </li>
                        <li class="hover:text-gray-400 mt-6">
                            <g-link to="/our-work">Our work</g-link>
                        </li>
                        <li class="hover:text-gray-400 mt-6">
                            <g-link to="/services">Services</g-link>
                        </li>
                        <li class="hover:text-gray-400 mt-6">
                            <g-link to="/contact">Contact</g-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
export default {}
</script>
