<template>
    <header :class="headerStyles">
        <div class="container md:flex md:justify-between">
            <div class="md:w-5/12 my-auto md:pr-4 text-center md:text-left">
                <slot></slot>
            </div>
            <div class="md:w-7/12 my-auto md:pl-4 pt-12 md:pt-0">
                <slot name="media"></slot>
            </div>
        </div>
    </header>
</template>

<script>
export default {
	props: { headerStyles: String }
}
</script>

<style lang="scss" scoped>
.services-gradient-header {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 70%,
		rgba(16, 41, 59, 1) 70%
	);
	@screen md {
		background: rgb(255, 255, 255);
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 1) 70%,
			rgba(16, 41, 59, 1) 70%
		);
	}
}
</style>