<template>
    <div class="bg-theme-primary shadow-xl border-b border-border-color-ternary">
        <div class="container">
            <div class="flex items-center justify-between flex-wrap py-12">
                <div class="flex items-center flex-shrink-0 text-white mr-6">
                    <g-link v-if="theme === 'theme-light'" class="mr-12" to="/">
                        <g-image
                            src="~/assets/images/logo.svg"
                            class="h-10 w-auto"
                            alt="Brand Logo"
                        />
                    </g-link>
                    <g-link v-else class="mr-12" to="/">
                        <g-image
                            src="~/assets/images/white.svg"
                            class="h-10 w-auto"
                            alt="Brand Logo"
                        />
                    </g-link>
                </div>

                <div class="block md:hidden">
                    <button
                        @click="toggleMobNav"
                        aria-label="Open mobile menu"
                        class="flex items-center focus:outline-none"
                    >
                        <span class="burger-icon" :class="{ active : isActive }"></span>
                    </button>
                </div>

                <nav
                    class="w-full flex-grow md:flex md:items-center md:w-auto md:mt-0"
                    :class="isActive ? 'block mt-6' : 'hidden'"
                >
                    <ul class="text-copy-secondary text-lg md:ml-auto md:flex">
                        <li
                            class="block mt-4 md:inline-block md:mt-0 hover:text-copy-primary un md:pl-12 cursor-pointer"
                        >
                            <g-link class="block" to="/">Home</g-link>
                        </li>
                        <li
                            class="block mt-4 md:inline-block md:mt-0 hover:text-copy-primary un md:pl-12 cursor-pointer"
                        >
                            <g-link class="block" to="/our-work">Our work</g-link>
                        </li>
                        <li
                            class="block mt-4 md:inline-block md:mt-0 hover:text-copy-primary un md:pl-12 cursor-pointer"
                        >
                            <g-link class="block" to="/services">Services</g-link>
                        </li>
                        <li
                            class="block mt-4 md:inline-block md:mt-0 hover:text-copy-primary un md:pl-12 cursor-pointer"
                        >
                            <g-link class="block" to="/contact">Contact</g-link>
                        </li>
                        <li class="block mt-4 md:inline-block md:mt-0 md:pl-12 focus:outline-none">
                            <slot></slot>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
export default {
	props: {
		theme: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			isActive: false
		}
	},
	methods: {
		toggleMobNav() {
			this.isActive = !this.isActive
		}
	}
}
</script>

<style lang="scss" scoped>
.burger-icon {
	width: 3rem;
}

.burger-icon:after,
.burger-icon:before {
	background-color: var(--text-copy-primary);
	border-radius: 3px;
	content: '';
	display: block;
	height: 3px;
	margin: 8px 0;
	transition: all 0.2s ease-in-out;
}

.burger-icon.active:before {
	transform: translateY(5px) rotate(135deg);
}

.burger-icon.active:after {
	transform: translateY(-6px) rotate(-135deg);
}

.un:after {
	content: '';
	width: 0px;
	height: 1px;
	display: block;
	background: var(--text-copy-primary);
	transition: 300ms;
}

.un:hover:after {
	width: 100%;
}
</style>
