<template>
    <div :class="theme">
        <Nav class="theme-wrapper" :theme="theme">
            <template>
                <theme-switcher :theme="theme" @themeChanged="updateTheme" />
            </template>
        </Nav>
        <transition name="fade" appear>
            <main>
                <slot />
            </main>
        </transition>
        <Footer />
    </div>
</template>

<static-query> 
query {
  metadata {
	siteName
  }
}
</static-query>

<script>
import Nav from '~/components/TheNavbar'
import Footer from '~/components/TheFooter'
import ThemeSwitcher from '~/components/generic/ThemeSwitcher'

export default {
	components: {
		Nav,
		ThemeSwitcher,
		Footer
	},
	mounted() {
		this.theme = localStorage.getItem('theme') || 'theme-light'
	},
	data() {
		return {
			theme: ''
		}
	},
	methods: {
		updateTheme(theme) {
			this.theme = theme
		}
	}
}
</script>

<style lang="scss">
:root {
	font-size: 10px;
}
body {
	font-size: 1.6rem;
	font-family: 'Lato', sans-serif;
	p {
		line-height: 3.2rem;
	}
}

//generic
.horizontal-line:after {
	content: '';
	width: 90px;
	height: 2px;
	background-color: #ec1a3a;
	display: block;
	position: absolute;
	right: 33%;
	bottom: -7.5%;
}

.theme-wrapper {
	transition: all 0.25s;
}

.fade-enter-active {
	transition: opacity 0.5s;
}

.fade-enter {
	opacity: 0;
}
</style>
