<template>
    <div class="scroll-wrapper no-scrollbar scrolling-touch flex flex-wrap">
        <div
            class="w-2/3 sm:w-3/5 md:w-1/3 flex flex-col flex-0-0-auto pr-8 pb-8"
            v-for="{ node } in $static.news.edges.slice(0, 3)"
            :key="node.id"
        >
            <div class="bg-theme-form rounded shadow-lg overflow-hidden flex-1 flex flex-col">
                <g-image :src="node.image" class="object-cover w-full h-64" :alt="node.title" />
                <div class="p-6 md:p-12 flex-1 flex flex-col">
                    <h4 class="mb-6 font-bold text-copy-primary text-lg md:text-xl">{{ node.title }}</h4>
                    <div class="mb-12 text-copy-primary text-base flex-1">
                        <p>{{ node.abstract }}</p>
                    </div>
                    <g-link
                        :to="node.path"
                        class="text-sm md:text-base text-copy-secondary font-bold hover:no-underline underline tracking-wide focus:outline-none"
                    >{{ node.readlink }}</g-link>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.flex-0-0-auto {
	flex: 0 0 auto;
}
.scroll-wrapper {
	@media (max-width: 768px) {
		flex-wrap: nowrap;
		overflow-x: auto;
	}
}
.no-scrollbar {
	@media (max-width: 768px) {
		scrollbar-width: none;
		margin-bottom: 0;
		padding-bottom: 0;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
</style>

<static-query>
query {
	news: allNews {
		edges {
			node {
				title
				image
				path
				abstract
				readlink
			}
		}
	}
}
</static-query>
