<template>
    <div class="bg-theme-secondary shadow-md rounded border border-astecha-primary px-12 py-16">
        <h3 class="text-h3 text-copy-primary font-bold text-center">Let’s talk business</h3>
        <form
            name="contact"
            method="post"
            v-on:submit.prevent="handleSubmit"
            action="/success/"
            data-netlify="true"
            data-netlify-honeypot="bot-field"
        >
            <input type="hidden" name="form-name" value="contact" />
            <p hidden>
                <label>
                    Don’t fill this out:
                    <input name="bot-field" />
                </label>
            </p>

            <div class="sender-info">
                <div class="mt-12">
                    <label for="name" class="text-xl text-copy-primary font-bold">Name</label>
                    <input
                        required
                        id="name"
                        type="text"
                        name="name"
                        placeholder="Enter your name"
                        v-model="formData.name"
                        class="mt-4 text-base appearance-none border bg-theme-form rounded w-full py-4 px-6 text-gray-700 focus:outline-none focus:shadow-outline"
                    />
                </div>
                <div class="mt-12">
                    <label for="email" class="text-xl text-copy-primary font-bold">Email</label>
                    <input
                        required
                        id="email"
                        type="email"
                        name="email"
                        placeholder="Enter your email"
                        v-model="formData.email"
                        class="mt-4 text-base appearance-none border bg-theme-form rounded w-full py-4 px-6 text-gray-700 focus:outline-none focus:shadow-outline"
                    />
                </div>
            </div>

            <div class="mt-12">
                <label for="message" class="text-xl text-copy-primary font-bold">Message</label>
                <textarea
                    required
                    id="message"
                    name="message"
                    placeholder="Ask us anything…"
                    v-model="formData.message"
                    class="mt-4 text-base resize-none appearance-none border bg-theme-form rounded w-full py-4 px-6 text-gray-700 focus:outline-none focus:shadow-outline"
                ></textarea>
            </div>

            <button class="btn btn-red mt-12" type="submit">Send message</button>
        </form>
    </div>
</template>

<script>
export default {
	data() {
		return {
			formData: {}
		}
	},
	methods: {
		encode(data) {
			return Object.keys(data)
				.map(
					key =>
						encodeURIComponent(key) +
						'=' +
						encodeURIComponent(data[key])
				)
				.join('&')
		},
		handleSubmit(e) {
			fetch('/', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: this.encode({
					'form-name': e.target.getAttribute('name'),
					...this.formData
				})
			})
				.then(() => alert('Thank you'))
				.catch(error => alert(error))
		}
	}
}
</script>
