<template>
    <div>
        <p class="text-xl text-copy-primary font-bold inline-block">
            <slot name="preheading"></slot>
        </p>
        <slot name="horizontal-line"></slot>

        <h1 class="text-h2 text-copy-primary font-bold mt-6">
            <slot name="heading"></slot>
        </h1>
        <p class="text-base text-copy-primary mt-6 lg:mt-12">
            <slot name="body"></slot>
        </p>
        <div class="mt-12 lg:mt-24">
            <slot name="button"></slot>
        </div>
    </div>
</template>
