<template>
    <a
        href="#"
        aria-label="Toggle between dark and light mode"
        class="text-copy-primary hover:text-gray-600 focus:outline-none"
        @click.prevent="toggleTheme"
    >
        <i
            v-if="theme === 'theme-light'"
            aria-hidden="true"
            class="material-icons notranslate align-middle"
        >toggle_on</i>
        <i v-else aria-hidden="true" class="material-icons notranslate align-middle">toggle_off</i>
    </a>
</template>

<script>
export default {
	props: {
		theme: {
			type: String,
			required: true
		}
	},
	methods: {
		toggleTheme() {
			const newTheme =
				this.theme === 'theme-light' ? 'theme-dark' : 'theme-light'
			localStorage.setItem('theme', newTheme)
			this.$emit('themeChanged', newTheme)
		}
	}
}
</script>

<style lang="scss" scoped>
.material-icons {
	font-size: 2.6rem;
}
</style>